# LLM Service
LLM_MODEL=gemma2:2b
LLM_TEMPERATURE=0.2
LLM_PORT=8001

# Translation Service
TRANSLATION_MODEL=Helsinki-NLP/opus-mt-en-ar
TRANSLATION_PORT=8002

# Logging
# LOG_FILE=logs/myagent.log    # Set specific file path
# LOG_TO_FILE=true              # Or auto-generate with datetime
